.row {
    white-space: nowrap;
    overflow-x: auto;
}

.rows {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.digitInput {
    height: 80px;
    width: 60px;
}

.hint {
    display: block;
    align-content: center;
    margin-top: 100px;
    margin-right: 200px;
}

.number-hint {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 35px;
    color: #595959;
    letter-spacing: 3px;
}
